

header {
    position: fixed;
    font-family: 'Afacad Flux';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 10;
}

h1 {
    min-width: 6em;
    font-weight: 300;
    color: white;
}

.logo-link {
    text-decoration: none;
}

.nav {
    position: relative;
}

.hamburger-menu-button {
    position: relative;
    background-color: transparent;
    border: none;
}

.hamburger-menu-close-image {
    position: absolute;
    height: 60px;
    width: 60px;   
    top: -35px;
    right: -10px;
    display: none;
    z-index: 21;
}

.hamburger-menu-image {
    position: relative;
    z-index: 2;
}

.hamburger-dropdown-content {
    display: flex;
    flex-direction: column;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #FF9DEA;;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    transform: translateY(-102%);
    gap:2em;
}

.hamburger-dropdown-content.openMenu {
    flex-direction: column;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #FF9DEA;;
    z-index: 20;
    transform: translateY(0%);

}

.hamburger-dropdown-texture-image {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.dropdown-link-list {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 5em;
}
.dropdown-link {
    padding-left: 0.5em;
    font-size: 54px;
    color: black;
    font-family: 'Bagel Fat One';
}

.hamburger-menu-image:hover {
    cursor: pointer;
}

.navbar-links-desktop {
    display: none;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-weight: 300;

}

@media only screen and (min-width: 768px) { 
    header {
        display: flex;
        justify-content: space-between;
        width: 79.9%;
    }

    .hamburger-menu-button, .nav {
        display: none;
    }
        
    nav {
        width: 100%;
        display: flex;
    }

    .navbar-links-desktop {
        display: inline-block;
        width: 100%;
    }

    .navbar-link {
        font-size: 1.6rem;
    }

    .navbar-link-list {
        display: flex;
        justify-content: center;
        padding-left: 2em;
    }

    .navbar-link {
        padding-left: 2em;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1200px) {
    header {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        width: 79.8%;
    }
}